<div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-md-12 mt-5">
        <div class="d-flex justify-content-center">
          <img src="assets/img/icons/main.png" width="200" alt="waiter" id="logo-login">
        </div>
        <!-- Spinner Login -->
        <div class="text-center mt-4" *ngIf="spinner">
          <div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div>
        </div>
        <div class="text-center mt-4" *ngIf="head_message && !spinner">
          {{ head_message }}
        </div>
        <!-- Login Data Form -->
        <div class="form-group mt-4">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Mario Bross" name="username"
                #username="ngModel" [(ngModel)]="user.username" required>
              <label for="floatingInput">Nombre de usuario</label>
              <span class="text-danger" *ngIf="!username.valid && username.touched"> El nombre de usuario no es válido
              </span>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="123456789" name="password"
                #password="ngModel" [(ngModel)]="user.password" required>
              <label for="floatingPassword">Contraseña</label>
              <span class="text-danger" *ngIf="!password.valid && password.touched"> La contraseña no es válida </span>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="flexCheckChecked" (click)="btnShowPassword()">
              <label class="form-check-label" for="flexCheckChecked"> Mostrar contraseña </label>
            </div>
            <div class="form-floating mb-3">
              <input type="submit" class="btn btn-primary" value="Ingresar" [disabled]="!loginForm.valid">
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>