<div class="container mt-3">
    <div id="myTabContent" class="tab-content col-md-8 mx-auto mb-5">
        <!-- Content Table menu -->
        <div class="tab-pane fade p-2 active show" id="areas">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="min-height:80vh; overflow-x:auto;">
            <a [routerLink]="['/admin']"><button class="btn btn-warning btn-sm separate" id="return"> <i class="bi bi-arrow-90deg-left separate"></i> Volver </button></a>
            <a [routerLink]="['/table-edit']"><button class="btn btn-warning btn-sm separate" id="return"> <i class="bi bi-plus-lg"></i> Nueva mesa </button></a>
                <button class="btn btn-warning btn-sm separate" id="return" (click)="getAllTables()"> <i class="bi bi-arrow-clockwise"></i> Recargar </button>
                <!-- Table data -->
                <table class="table table-hover mt-1">
                    <thead>
                        <tr>
                            <th scope="col text-primary" class="text-warning">Nombre de mesa</th>
                            <th scope="col text-primary" class="text-warning text-center">Area</th>
                            <th scope="col text-primary" class="text-warning text-center">Estado</th>
                            <th scope="col text-primary" class="text-warning" style="text-align: right;">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let table of tables">
                        <tr *ngIf="table.status != 'DELETED'">
                            <td> {{ table.name }} </td>
                            <td class="text-center"> {{ table.area }} </td>
                            <td class="text-center">
                                <span *ngIf="table.status=='FREE'" class="text-success"> LIBRE </span>
                                <span *ngIf="table.status!='FREE'">
                                    <button class="btn btn-danger btn-sm" (click)="btnCloseAccount(table.id)"> Cerrar cuenta </button>
                                </span>
                            </td>
                            <td style="text-align: right;">
                                <button class="btn btn-warning btn-sm separate" (click)="btnEditTable(table.id)"><i class="bi bi-pencil-fill"></i></button>
                                <button class="btn btn-warning btn-sm separate" (click)="btnDeleteTable(table.id)"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Loading spinner ... -->
                <div class="text-center" *ngIf="!tables">
                    <div class="spinner-border" style="width: 3rem; height: 3rem; margin-top: 50px;" role="status">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
